.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px;
}

.instruction {
  max-width: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.rewards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.logo {
  max-width: 24px;
  width: 100%;
  display: block;
}
.rewardInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rewardTitle {
  letter-spacing: 1.2px;
}
.currency {
  font-size: 14px;
  line-height: 142.85%;
  color: var(--Primitive-500);
  font-weight: 500;
}
.info {
  line-height: 125%;
  max-width: 185px;
  width: 100%;
}
.highlight {
  color: var(--Blue-500);
  font-weight: 500;
}
