.wrapper {
  display: flex;
  flex-direction: column;

  background: var(--Primitive-950);

  padding-top: 0;
  border-radius: 20px 20px 0 0;
  padding-bottom: 100px;
}
.tabs {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  padding: 16px;
  padding-bottom: 12px;
  background: var(--Primitive-950);
  border-radius: 20px 20px 0 0;
}
