.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.singleToken {
  border-radius: 8px;
  background: var(--Primitive-900);
  padding: 16px 12px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.line:last-child {
  display: none;
}
.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
  width: 100%;
}
.rightSide {
  align-items: flex-end;
  width: 100%;
}
.info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.logo {
  max-width: 20px;
  min-width: 20px;
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translateY(3px);
}
.positive {
  color: var(--Green);
}
.negative {
  color: var(--Red);
}
.singleToken .buyButton {
  padding: 4px 24px;
  border-radius: 6px;
  margin-top: auto;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px 6px;
  width: 100%;
}

.permitted,
.notPermitted {
  font-size: 16px;
  transform: translateY(3px);
}
.permitted {
  color: var(--Green);
}
.notPermitted {
  color: var(--Red);
}
@media only screen and (max-width: 350px) {
  .singleToken {
    padding: 12px 6px;
  }
}
