.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  color: var(--Primitive-600);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.08%;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 7px 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--Border);
  background: var(--Primitive-800);
}
.textareaContainer {
  padding: 0;
}
.lsm {
  padding: 8px 14px;
}
.focused {
  border: 1px solid var(--Blue-500);
}
.sm {
  padding: 8px 10px;
  border-radius: 6px;
}
.searchIconInputContainer {
  padding: 8px 12px;

  position: relative;
}
.ctrlK {
  padding: 7.5px 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.searchIconInputContainer .close {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.searchIcon {
  font-size: 18px;
  margin-top: 2px;
  cursor: pointer;
  color: var(--Primitive-600);
}
.input {
  color: var(--Primitive-400);
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  text-overflow: ellipsis;
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  resize: none;
}
.textarea {
  padding: 8px 12px;
}
.lsm .input {
  font-size: 15px;
  line-height: 160px;
}
.input::placeholder {
  color: var(--Primitive-600);
}
.close {
  color: var(--Primitive-500);
  cursor: pointer;
  font-size: 18px;
}
.eye {
  cursor: pointer;
  font-size: 18px;
  color: var(--Primitive-400);
}
.ctrlKContainer {
  text-align: center;

  color: var(--Primitive-400);
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  background: var(--Base-White);
  border: 1px solid var(--Primitive-100);
  padding: 2px 4px;
  white-space: nowrap;
}

.ctrlKContainer:hover {
  transform: none;
}
