.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  background: var(--Primitive-800);
}
.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px 12px;
}
.date {
  align-items: flex-start;
}
.networkContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}
.logo {
  max-width: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
}
.pair {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo {
  max-width: 16px;
  min-width: 16px;
  width: 100%;

  aspect-ratio: 1/1;
  border-radius: 50%;
}
.coin {
  display: flex;
  align-items: center;
  gap: 4px;
}
.arrow {
  font-size: 16px;
  color: var(--Primitive-600);
}
.symbol {
  color: var(--Primitive-300);
}
.positive {
  color: var(--Green);
}
.negative {
  color: var(--Red);
}

.status {
  padding: 2px 8px;
  border-radius: 5px;
}
.processing {
  background: var(--Orange-10);
  color: var(--Orange);
}
.completed {
  background: var(--Green-10);
  color: var(--Green);
}
.failed {
  background: var(--Red-10);
  color: var(--Red);
}
.buttonContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: calc(100%);
  padding: 0 16px;

  padding-top: 8px;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  background: var(--Primitive-900);

  z-index: 100;
}
.buttonContainer .backButton {
  padding-bottom: 0;
}
