@font-face {
    font-family: 'Supreme';
    src: url('Supreme-ExtraboldItalic.woff2') format('woff2'),
        url('Supreme-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Bold.woff2') format('woff2'),
        url('Supreme-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Extralight.woff2') format('woff2'),
        url('Supreme-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Extrabold.woff2') format('woff2'),
        url('Supreme-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-BoldItalic.woff2') format('woff2'),
        url('Supreme-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Regular.woff2') format('woff2'),
        url('Supreme-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Medium.woff2') format('woff2'),
        url('Supreme-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-ExtralightItalic.woff2') format('woff2'),
        url('Supreme-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Italic.woff2') format('woff2'),
        url('Supreme-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Light.woff2') format('woff2'),
        url('Supreme-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-ThinItalic.woff2') format('woff2'),
        url('Supreme-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-LightItalic.woff2') format('woff2'),
        url('Supreme-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-MediumItalic.woff2') format('woff2'),
        url('Supreme-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme';
    src: url('Supreme-Thin.woff2') format('woff2'),
        url('Supreme-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

