.dropdown {
  position: relative;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  border-bottom: 1px solid var(--Primitive-200);
  background: var(--Primitive-50);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--gray-200, #e5e7eb);
}
.labelContainer.active {
  border: 1px solid var(--Blue-500);
}
.label {
  white-space: nowrap;
}
.arrow {
  font-size: 14px;
  color: var(--Primitive-400);
  cursor: pointer;
  margin-left: auto;
}
.arrow.active {
  color: var(--Primitive-Default);
}
.dropdownMain {
  min-width: 112px;
  width: max-content;
  position: absolute;
  right: 0;
  top: calc(100% + 2px);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  border: 1px solid var(--Primitive-200);
  border-bottom-width: 2px;
  border-radius: 6px;
  background: var(--Base-White);
  box-shadow: 0px 2px 8px -2px rgba(3, 7, 18, 0.12),
    0px 4px 6px -2px rgba(3, 7, 18, 0.12);
  padding: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}

.dropdownMain.active {
  opacity: 1;
  pointer-events: all;
}
.active .list {
  overflow: auto;
  max-height: 250px;
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--Primitive-700);

  font-weight: 400;
  border-radius: 5px;
}

.listItem.active {
  /* background: var(--Blue-50); */
  /* color: var(--Blue-500); */
  /* font-weight: 500; */
}
.listItem.active:hover {
  color: var(--Blue-500);
  font-weight: 500;
}
/* .listItem.active {
  color: var(--Heading-Primary);
} */
.listItem:hover {
  color: var(--Blue-500);
  font-weight: 500;
  background: var(--Primitive-50);
}
.listItemContainer:hover {
  transform: none;
}

.above {
  bottom: 100%;
  top: auto;
}
.dropdownMain.above {
  bottom: calc(100% + 2px);
  top: auto;
}
