.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--navHeight) + 30px);
  align-self: flex-start;

  z-index: 1;
}
.type3 {
  gap: 6px;
}
.type3 .heading {
  color: var(--Primitive-900);
  font-weight: 500;
  padding: 0 10px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-left: 1px solid var(--Primitive-200);
}
.type2 .items,
.type3 .items {
  border: none;
}
.item {
  font-size: 14px;
  line-height: 142.86%;
  color: var(--Primitive-700);
  padding: 6px 10px;
  cursor: pointer;
}
.type2 .item {
  padding: 2px 0;
}
.item.active {
  border-radius: 0px 6px 6px 0px;
  color: var(--Blue-500);
  font-weight: 500;
  background: var(--Blue-10);
  position: relative;
}
.type2 .item.active {
  background: transparent;
}
.item.active::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  top: 50%;
  transform: translate(-1px, -50%);
  background: var(--Blue-500);
}

.type2 .item.active::before,
.type3 .item.active::before {
  display: none;
}
