.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid transparent;

  background: var(--Primitive-800);
}
.label {
  flex: 1;
}
.type2 {
  position: relative;
  padding-right: 35.33px;
}
.focused {
  border: 1px solid var(--Blue-500);
}

.input {
  color: var(--Primitive-50);
  background: transparent;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 127.273%;
  text-overflow: ellipsis;

  border: none;
  outline: none;
  height: 100%;

  width: 100%;
  text-align: right;
}
.type2 .input {
  text-align: center;
}
.type3 .input {
  text-align: left;
}
.input::placeholder {
  color: var(--Primitive-600);
}
.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.iconButton {
  padding: 0;
  display: block;
  color: var(--Primitive-600);
  line-height: 0;
}
.iconButton.up {
  transform: translateY(2px);
}
.iconButton.down {
  transform: translateY(-2px);
}
.iconButton.up:hover {
  transform: translateY(2px);
  color: var(--Primitive-400);
}
.iconButton.down:hover {
  transform: translateY(-2px);

  color: var(--Primitive-400);
}
.prefix {
  font-size: 14px;
  line-height: 142.85%;
  color: var(--Primitive-50);
}
