.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 14px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: var(--Primitive-900);
}
.tabs {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: var(--Primitive-800);
  padding: 2px;
}

.tab {
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 142.85%;
  font-weight: 500;
  color: var(--Primitive-400);
  white-space: nowrap;
}
.tab:hover {
  transform: none;
}
.tab.active {
  color: var(--Blue-500);
  background: var(--Primitive-900);
}
.side {
  width: 32px;
  flex-shrink: 0;
}
.icon {
  font-size: 20px;
  color: var(--Primitive-500);
}
.cartIcon {
  max-width: 20px;
  width: 100%;
}
.side {
  width: 32px;
}
.cartContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;

  position: relative;
}
.itemNumber {
  border-radius: 12px;
  border: 2px solid var(--Primitive-900);
  background: var(--Blue-500);
  color: var(--Primitive-0);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  min-width: 16px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
