.wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heading {
  max-width: 311px;
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feature {
  display: flex;

  gap: 12px;
}

.icon {
  margin-top: 3px;
  font-size: 18px;
  flex-shrink: 0;
  color: var(--Blue-500);
}
