.mainWrapper {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: none;
}
.heading {
  max-width: 1199px;
  width: 90%;
  margin: 0 auto;
  font-size: 70px;
  min-height: 100vh;

  margin: auto;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 640px) {
  .mainWrapper {
    display: block;
  }
  .heading {
    display: none;
  }
}
