@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Primitive-Default: #63ea71;
  --Primitive-Transparent-8: rgb(99, 234, 113, 0.08);
  --Primitive-Warning: #fead34;
  --Primitive-Error: #dc4949;
  --Primitive-0: #fff;

  /* new */

  --Primitive-100: #131315;

  --Primitive-0: #fff;
  --Primitive-50: #f9fafb;
  --Primitive-200: #e8e9e9;
  --Primitive-300: #d2d2d2;
  --Primitive-400: #999a9a;
  --Primitive-500: #777879;
  --Primitive-600: #494b4c;
  --Primitive-700: #3e4041;
  --Primitive-800: #27292a;
  --Primitive-900: #1c1e1f;
  --Primitive-950: #161819;
  --Blue-500: #3981f8;
  --Blue-10: rgba(57, 129, 248, 0.1);
  --Blue-20: rgba(57, 129, 248, 0.2);
  --Blue-15: rgba(57, 129, 248, 0.15);

  --Blue-50: #eff6ff;
  --Blue-100: #dbeafe;
  --border: #4e4e64;
  --Red: #e05555;
  --Red-10: rgba(224, 85, 85, 0.1);
  --Purple: #e4348d;
  --Purple-10: rgb(228, 52, 141, 0.1);
  --Yellow: #faef4a;
  --Orange: #df9022;
  --Orange-20: rgba(223, 144, 34, 0.2);
  --Orange-10: rgba(223, 144, 34, 0.2);
  --Green: #1cad54;
  --Green-10: rgba(28, 173, 84, 0.1);
  --Border: rgba(39, 41, 42, 0.5);
}

* {
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Supreme", sans-serif;

  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;

  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Primitive-900);
  white-space: normal;
  overflow-x: hidden;
}
button {
  transition: 0.3s;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
button:hover {
  transform: translateY(-3px);
}

.container {
  max-width: 1199px;
  width: 90%;
  margin: 0 auto;
}
.space {
  padding: 0 16px;
}
.highlight {
  color: var(--Primitive-Default);
  font-weight: 500;
}
.spaceFromTop {
  padding-top: 95px;
}
.font-instrument {
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
    width: 100%;
  }
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Primitive-600);
  border-radius: 4px;
}
.overflow {
  scrollbar-width: thin;
  scrollbar-color: var(--Primitive-600) rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

/* Chrome, Edge, and Safari browsers */
.overflow::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}
.overflow::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

.overflow::-webkit-scrollbar-thumb {
  background: var(--Primitive-600);
  border-radius: 100vh;
  border: none;
  border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input::placeholder {
  color: var(--Primitive-600);
}

/* Regular */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Semibold (not always available, skip if missing) */

/* Bold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Extrabold */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* Italics */
@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/fonts/Supreme-ExtralightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
